@charset "UTF-8";

:root{
  --full: 100%;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html, body{
  width: var(--full);
  height: var(--full);
  font-size: 100%;
}

body{
  font-size: 0.75em;
}

nav, header, footer, section{
  width: var(--full);
}
nav{
  height: 4%;
    background-color: hsla(10,10%,10%,0.8);
}
header{
  height: 52%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(10,10%,10%,0.6);
}
section{
  height: 44%;
  /* height: 100%; */
  border: 1px solid black;
}

/* DIV HEADER  */
header ul{
  width: 60%;
  height: 53.841%;
  display: flex;
  flex-direction: row;
  list-style: none;
}
header ul > .logo{
  width: 40%;
  height: var(--full);
  background-image: url("logo.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header ul > .txt{
  width: 60%;
  height: var(--full);
}
header ul .txt > h1{
  width: var(--full);
  height: 20%;
  text-align: center;
}

@media only screen and (max-width: 700px){
  header ul{
    height: var(--full);
    display: flex;
    align-items: center;
  }

  header ul > .txt{
    width: 100%;
  }
  header ul{
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px){
  header ul{
    width: 90%;
  }
}
